<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>User</th>
      <th>Tag</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @graphs.each do |graph| %>
        <tr>
          <td> <%= link_to graph.id, graph %> </td>
          <td> <%= graph.name %> </td>
          <td> <%= graph.g_type %> </td>
          <td> <%= graph.description %> </td>
          <td> <%= graph.user.email %> </td>
          <td> <%= graph.tag %> </td>
          <td> 
            <%= link_to "view", graph_path(graph) %> 
            <%= link_to "edit", edit_graph_path(graph) %> 
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "new", new_graph_path, class: "btn btn-default" %>
</div>
