<%= react_component 'ChartContainer', 
    options: @graph_config, 
    graph_id: @graph.id, 
    ajax_path: api_v1_data_sequence_path(@graph.id)
%>

<table class="table">
  <thead>
    <tr>
      <th> ID </th>
      <th> Name </th>
      <th> Type </th>
      <th> Desc </th>
      <th> User </th>
      <th> Tag </th>
      <th> Sequences </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= @graph.id %> </td>
      <td> <%= @graph.name %> </td>
      <td> <%= @graph.description %> </td>
      <td> <%= @graph.g_type %> </td>
      <td> <%= @graph.user.email %> </td>
      <td> <%= @graph.tag %> </td>
      <td> <%= @graph.data_sequences.count %> </td>
      <td>
        <%= link_to "edit", edit_graph_path(@graph) %> 
      </td>
    </tr>
  </tbody>
</table>

<div> 
  <pre> <%= @graph.raw_graph_settings %> </pre>
</div>
