<div> <%= @graph.id %> </div>
<div> <%= @graph.name %> </div>
<div> <%= @graph.description %> </div>
<div> <%= @graph.g_type %> </div>
<div> <%= @graph.user.email %> </div>
<div> <%= @graph.tag %> </div>

<%= react_component 'ChartContainer' %>
